/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;

}
.jumbotron .container {
max-width: 45%;
}
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;

  background-repeat:no-repeat;
  background-size:cover;
}

/* Add a gray background color and some padding to the footer */
footer {
background-color: #f2f2f2;
  padding: 25px;
}
.fitImage {
max-width:85%;
max-height: 85%;
}
.form-control{
display: inline;
width: 50%;


}
td {
	vertical-align: middle !important;
}
    /* Add a gray background color and some padding to the footer */
    footer {
    background-color: #f2f2f2;
      padding: 25px;
    }
    .fitImage {
    max-width:85%;
    max-height: 85%;
}
.img-circle {
		border-radius: 50%;
}
.encabezado-panel{
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}
#QueRompeGuindas{
	width: 95%;
	background:./img/background.jpg;
}
#histeria{
	padding-left:1.5%;
}
.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.panel-body{
  background-color: #fff;

}
.panel-heading{
  background-color: #d9d9d9;
}
#botoncitobusqueda {
    color: #333;
    background-color: #96ac3c;
    border-color: #96ac3c;
}
